@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;   
}

body {
    font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

a {
    text-decoration: none;
    display: block;
}


/* header */

.pc-nav {
    position: fixed;
    top: 80px;
    right: 1%;
    z-index: 100;
}

.pc-nav .nav-txt, .pc-nav .contact-service-botton, .pc-nav .nav-privacy{
    display: none;
}

ul {
    list-style: none;
}

.pc-nav ul li {
    font-size: 20px;
    letter-spacing: 0.8px;
    padding-bottom: 16px;
    font-weight: 100;
    font-family: 'Anton', sans-serif;
}

.pc-nav ul li a {
    color: #76a8c0;
}

#nav_toggle {
    display: none;
}

/* main */

.inner {
    padding: 0 10%;
}

#hero {
    height: 100vh;
    width: 100vw;
    padding: 80px 5% 0;
}

#hero, #works, #contact {
    background-color: #edecea;
    color: #1B1C1C;
}

#service, #company {
    background-color: #1B1C1C;
    color: #edecea;
}

#service h2, #company h2{
    border-bottom: 2px solid #edecea;
}

#works h2, #contact h2{
    border-bottom: 2px solid #1B1C1C;
}

#hero h1 {
 max-width: 800px;
}

#hero h1 img {
    width: 100%;
}

.vertical-dashed {
    border-left: 4px dashed #1B1C1C;
    height: 100px;
    margin-top: 128px;
}

#hero p {
    font-size: 32px;
    font-weight: 600;
}

/* service */

#service, #company {
    background-color: #1B1C1C;
}

#service h2, #works h2, #company h2, #contact h2 {
    padding-top: 64px;
    font-size: 56px;
    width: 220px;
}

.ruby {
    font-size: 24px;
    letter-spacing: 4px;
}

.service-txt p:first-child {
    font-size: 32px;
    padding-top: 40px;
    font-weight: 600;
}

.service-txt p:last-child {
    padding-top: 16px;
    font-size: 20px;
    letter-spacing: .8px;
    width: 1000px;
}

.service-list {
    display: grid;
    padding: 64px 0 0;
    column-gap: 32px;
    margin: 0 auto;
}

.four {
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 64px;
}

.three {
    grid-template-columns: repeat(3, 1fr);
}

.two {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 48px;
}


.service-list-item {
    font-family: 'Quattrocento', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #141414;
    text-align: left;
    line-height: 1.4em;
    font-size: 16px;
}
.service-list-item * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.service-list-item img {
    max-width: 100%;
    vertical-align: top;
}
.service-list-item figcaption {
    position: absolute;
    top: calc(88%);
    width: 100%;
    background-color: #ffffff;
    padding: 15px 25px 40px;
    opacity: 0.8;
}
/* .service-list-item figcaption:before {
    position: absolute;
    content: '';
    z-index: 2;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
} */
.service-list-item h3, .service-list-item p {
    margin: 0 0 10px;
}
.service-list-item h3 {
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}
.service-list-item p {
    padding-top: 24px;
    font-size: 14px;
    letter-spacing: 1px;
}
.service-link {
    text-align: center;
    width: 150px;
    border: 2px solid #000;
    line-height: 28px;
    font-size: 16px;
    border-radius: 50px;
    margin: 0 auto;
    font-weight: 600;
}
.service-list-item a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.service-list-item:hover figcaption, .service-list-item.hover figcaption {
    top: 152px;
}

/* works */
#works .inner {
    padding: 0 10% 64px;
}

.works-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-top: 64px;
    padding: 2%;
    background-color: #1B1C1C;
    border: 2px solid #DBD6D0;
}

.works-list-item {
    border: 2px solid #DBD6D0;
}

.works-img {
    height: 220px;
}

.works-img img {
    width: 100%;
}

.works-list-item p {
    font-size: 16px;
    font-weight: 600;
    margin: 10px;
    color: #DBD6D0;
}

/* company */
#company, #contact {
    padding-bottom: 64px;
}

.company-details, .contact-container {
    padding: 5%;
    margin: 64px 128px 0 0;
}

.company-details {
    border: 2px solid;
}

table {
    width: 100%;
    margin: 0 auto;
}

#company th {
    width: 20%;
    vertical-align: top;
}

#company th, #company td {
    padding: 32px;
    font-size: 18px;
}

/* contact */

.contact-container {
    border: 2px solid #1B1C1C;
    background-color: #fff;
}

.contact-item {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
}

.contact-heading { 
    width: 300px;
    font-size: 16px;
    font-weight: 600;
}

.contact-heading:before {
    content: "必須";
    margin: 0 32px;
    background-color: red;
    color: #fff;
    padding: 4px 16px;
    border-radius: 4px;
    font-weight: 100;
}

.content-details {
    width: 400px;
    margin-left: 64px;
    margin-bottom: 64px;
}

.content-details select {
    width: 100%;
    padding: 16px 24px;
    font-size: 16px;
    border: none;
    background-color: #f5f5f5;
    color: #808080;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.content-details input {
    width: 100%;
    padding: 16px 24px;
    font-size: 16px;
    background-color: #f5f5f5;
    border-radius: 4px;
    border: none;
}

.content-details textarea {
    width: 100%;
    padding: 16px 24px;
    color: #333;
    background-color: #f5f5f5;
    border-radius: 4px;
    resize: none;
    letter-spacing: .8px;
    border: none;
}

.contact-submit-button {
    width: 480px;
    margin: 0 auto;
    display: block;
    height: 57px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 0 0 rgb(0 0 0 / 6%);
    background-color: #25c04a;
    cursor: pointer;
    border:  none;
    position: relative;
}

.arrow-right::before, .arrow-right::after {
    position: absolute;
    content: "";
    border-top: 1px solid #fff;
}

.arrow-right::before {
    width: 16px;
    top: 50%;
    right: 5%;
}

.arrow-right::after {
    width: 8px;
    height: 8px;
    top: 43%;
    right: 25px;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
}

/* footer */
footer {
    background-color: #1B1C1C;
}

footer .inner {
    display: grid;
    grid-template-columns: 600px 1fr 1fr;
    justify-content: start;
    align-items: start;
    align-content: center;
}

.footer-item {
    padding: 48px 0;
}

.footer-item p {
    color: #fff;
    padding-top: 10px;
    font-size: 12px;
}

.company-name {
    max-width: 400px;
}

.company-name img {
    width: 100%;
}

.footer-item-heading {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.footer-item-heading {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 20px;
}

.footer-service-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-content: start;
}

.footer-service-list:first-child {
    border-left: 1px solid #fff;
}

.footer-service-list ul li {
    padding-left: 10px;
    color: #fff;
    font-size: 12px;
    padding-bottom: 10px;
}

.footer-copyright {
    background-color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 4px 0;
    font-weight: 600;
}



/* 事業紹介｜the gap WEB PRODUCTION */


#service-hero {
    background-color: #edecea;
    color: #1B1C1C;
}

#service-hero h1 {
    font-size: 64px;
    padding-top: 16px;
    width: 270px;
    border-bottom: 2px solid #1B1C1C;
}

.service-concept {
    padding-top: 32px;
    font-size: 24px;
    font-weight: 600;
}

.service-desc {
    padding-top: 16px;
    font-size: 20px;
    letter-spacing: .8px;
    width: 1000px;
}


#corporate, #landing-page, #e-commerce, #consulting, #seo {
    padding-top: 128px; 
    padding-bottom: 32px;
}

#corporate h2, #landing-page h2, #e-commerce h2, #consulting h2, #seo h2 {
    font-size: 40px;
    padding-bottom: 24px;
}

.service-list-heading {
    display: grid;
    grid-template-columns: 120px 1fr;
}

.dervice-list-img {
    max-width: 60px;
    margin: 0 auto;
    padding-top: 8px;
}

.dervice-list-img img {
    width: 100%;
}

.service-list-title p {
    text-align: left;
}

.service-list-title h3, #landing-page h3, #e-commerce h3 {
    font-size: 24px;
    font-weight: 600;
    padding-top: 10px;
}

.service-list-title p, .price-contact p:first-child {
    font-size: 18px;
    padding-top: 6px;
}

.service-list-desc {
    padding-top: 24px;
    letter-spacing: .8px;
}

.contact-service-botton {
    width: 480px;
    display: block;
    height: 57px;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 11%);
    background-color: #fff;
    cursor: pointer;
    border: none;
    position: relative;
    margin: 64px auto 0;
}

.contact-service-botton:hover {
    background-color: #000;
}

.contact-service-botton a {
    font-size: 16px;
    color: #000;
    font-weight: 600;
    letter-spacing: 4px;
    line-height: 58px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    width: 100%;
    display: block;
    height: 100%;
    border: 1px solid #000;
}

.contact-service-botton a:hover {
    color: #fff;
}

.v-shapped::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    top: 43%;
    left: 5%;
    transform: rotate(45deg);
    border-top: 2px solid #000;
    border-right: 2px solid #000;
}

.v-shapped:hover::before {
    border-top: 2px solid #fff;
    border-right: 2px solid #ffff;
}

.price-contact {
    position: relative;
}

.contact-small-botton {
    width: 220px;
    height: 44px;
    border-radius: 50px;
    border: 1px solid #76a8c0;
    background-color: white;
    position: absolute;
    right: 5%;
    top: -15%;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.contact-small-botton:hover {
    background-color: #76a8c0;
    box-shadow: 0px 7.5px 10px #76a8c0;
    color: #fff;
    transform: translateY(-7px);
}

.contact-small-botton a::before {
    content: url(images/horizontal-line.png);
    position: absolute;
    top: -12%;
    left: -24%;
}

.contact-small-botton a:hover::before {
    left: 74%;
    transition: all 1s;
}

.contact-small-botton a {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 4px;
    color: #76a8c0;
}

.contact-small-botton a:hover {
    color: #fff;
}

.price-contact p:last-child {
    padding-top: 12px;
    font-size: 18px;
    grid-row: 2 / 2;
    grid-column: 1 / 3;
}

#seo .contact-service-botton {
    margin-bottom: 64px;
}

/* iPad 横 */
@media (max-width:1194px) {
    .pc-nav ul li {
        font-size: 16px;
    }
    /* top pege */
    /* section hero */
    #hero h1 {
        max-width: 600px;
    }
    .vertical-dashed {
        margin-top: 100px;
    }

    /* service */
    .service-txt p:first-child {
        font-size: 24px;
        width: 800px;
    }
    .service-txt p:last-child {
        font-size: 16px;
        width: 800px;
    }
    .four {
        max-width: 800px;
    }
    .service-list-item {
        min-width: 150px;
    }
    .service-list-item h3 {
        font-size: 16px;
    }
    .service-list-item figcaption {
        top: calc(81%);
    }

    /* works */
    .works-img {
        height: 152px;
    }
    .works-list-item p {
        font-size: 12px;
    }

    /* company */
    #company th, #company td {
        padding: 16px;
        font-size: 16px;
    }

    /* contact */
    .contact-heading {
        width: 200px;
        font-size: 14px;
    }
    .contact-heading:before {
        margin: 0 8px 0 0;
        padding: 4px 8px;
    }
    .content-details {
        margin-left: 32px;
        margin-bottom: 48px;
    }
    .content-details select {
        padding: 16px 16px;
        font-size: 14px;
    }

    /* footer */
    footer .inner {
        grid-template-columns: 400px 260px 1fr;
    }
    .company-name {
        max-width: 360px;
    }
    .footer-item-heading {
        font-size: 14px;
    }
    .footer-service-list ul li {
        padding-left: 8px;
        padding-bottom: 8px;
    }

    /* service-page */
    .service-desc {
        width: 800px;
    }
    .service-list-heading {
        grid-template-columns: 40px 1fr;
        gap: 8px;
        align-items: start;
    }

}

/* iPad 縦 */
@media (max-width:834px){
    /* top page */
    /* service */
    .service-txt p:first-child, .service-txt p:last-child {
        width: 600px;
    }
    .service-txt p:first-child {
        font-size: 20px;
    }
    .service-txt p:last-child {
        font-size: 14px;
    }
    .four {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 32px;
    }
    .service-list-item figcaption {
        top: calc(90%);
    }
    .service-list-item:hover figcaption, .service-list-item.hover figcaption {
        top: 185px;
    }

    /* works */
    .works-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .works-img {
        height: 176px;
    }

    /* comapany */
    .company-details, .contact-container {
        margin: 64px 0 0 0;
    }

    /* footer */
    footer .inner {
        grid-template-columns: 400px 1fr;
    }
    .footer-item:last-child {
        display: none;
    }

    /* service-page */
    .service-desc {
        width: 600px;
        font-size: 16px;
    }
    .service-list-title h3{
        font-size: 16px;
        padding: 0;
    }
    .service-list-title p, .price-contact p:first-child {
        font-size: 14px;
        padding-top: 6px;
    }
    .service-list-desc {
        font-size: 14px;
    }
    #landing-page h3, #e-commerce h3 {
        font-size: 20px;
    }
    .contact-small-botton {
        width: 160px;
        height: 36px;
    }
    .contact-small-botton a {
        line-height: 36px;
        padding-left: 8px;
    }
    .contact-small-botton a::before {
        transform: scale(0.8);
        left: -40%;
    }
}

/* sp */
@media (max-width:480px){
    /* header */
    header {
        height: 80px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        background-color: #edecea;
    }
    .pc-nav {
        display: none;
    }
    .pc-nav .nav-txt, .pc-nav .contact-service-botton, .pc-nav .nav-privacy {
        display: block;
    }
    nav {
        position: fixed;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 0;
        right: -100%;
        bottom: 0;
        transition: right .5s;
    }
    #nav_toggle {
        display: block;
        width: 30px;
        height: 30px;
        position: fixed;
        z-index: 100;
        margin-right: 3%;
    }    
    #nav_toggle div {
        position: relative;
    }
    #nav_toggle span {
        display: block;
        height: 3px;
        background: #4D4D4D;
        position: absolute;
        width: 100%;
        left: 0;
        -webkit-transition: 0.1s ease-in-out;
        -moz-transition: 0.1s ease-in-out;
        transition: 0.1s ease-in-out;
    }
    #nav_toggle span:nth-child(1) {
        top: 0px;
    }
    #nav_toggle span:nth-child(2) {
        top: 10px;
    }
    #nav_toggle span:nth-child(3) {
        top: 20px;
    }
    .show {
        display: block;
        visibility: visible;
        right: 0;
        z-index: 100;
        background-color: #edecea;
        padding: 50% 5%;
        top: 0;
    }
    .show .contact-service-botton a {
        letter-spacing: 0;
    }
    .show .v-shapped::before {
        top: 40%;
        left: 5%; 
        border-top: 2px solid #000;
        border-right: 2px solid #000;
    }
    .nav-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }
    .pc-nav ul li {
        font-size: 24px;
        text-align: left;
        padding-left: 32px;
        padding-bottom: 32px;
    }
    .nav-txt a {
        text-align: right;
        border-bottom: 3px dashed;
        line-height: 24px;
        padding-top: 4px;
        padding-right: 32px;
        margin-bottom: 40px;
    }
    .nav-txt a::after {
        content: "";
        width: 20px;
        height: 20px;
        background: url(images/arrow-right-bg-blue.svg);
        right: 24px;
        position: absolute;
    }
    .pc-nav .contact-service-botton {
        margin-top: 24px;
    }
    .nav-privacy {
        padding-top: 64px;
        border-bottom: 1px solid #8e8e8e;
        text-align: left;
        padding-bottom: 8px;
        position: relative;
    }
    .nav-privacy a {
        color: #8e8e8e;
    }
    .nav-privacy a::after {
        position: absolute;
        content: "";
        width: 12px;
        height: 12px;
        border-top: 1px solid #8e8e8e;
        border-right: 1px solid #8e8e8e;
        transform: rotate(45deg);
        right: 5%;
        top: 72%;
    }
    #nav_toggle.active span:first-child {
        -webkit-transform: translateY(10px) rotate(45deg);
        -moz-transform: translateY(10px) rotate(45deg);
        -ms-transform: translateY(10px) rotate(45deg);
        transform: translateY(10px) rotate(45deg);
    }
    #nav_toggle.active span:nth-child(2) {
        opacity: 0;
    }
    #nav_toggle.active span:last-child {
        -webkit-transform: translateY(-10px) rotate(-45deg);
        -moz-transform: translateY(-10px) rotate(-45deg);
        -ms-transform: translateY(-10px) rotate(-45deg);
        transform: translateY(-10px) rotate(-45deg);
    }

    /* section-hero */
    #hero h1 {
        max-width: 300px;
        padding-top: 50%;
    }
    .vertical-dashed {
        margin-top: 64px;
        border-left: 2px dashed #1B1C1C;
        height: 60px;
    }
    #hero p {
        font-size: 14px;
    }

    /* service */
    #service h2, #works h2, #company h2, #contact h2 {
        padding-top: 64px;
        font-size: 32px;
        width: 125px;
        border-bottom: 2px solid #1B1C1C;
    }
    .ruby {
        font-size: 14px;
        letter-spacing: 2px;
    }
    .service-list-item {
        width: unset;
        height: 300px;
        margin: 32px 0;
    }
    .service-list-item figcaption {
        top: calc(70%);
    }
    .service-list-item:hover figcaption, .service-list-item.hover figcaption {
        top: 10px;
    }
    #service h3, #contact h3 {
        font-size: 18px;
        padding-top: 24px;
    }
    .service-txt p {
        max-width: 100%;
        font-size: 16px;
    }
    .service-list {
        display: block;
    }
    #service .service-list
    {
        padding: 0 0 64px 0;
    }

    /* works */
    .works-list {
        display: block;
    }
    .works-list-item {
        border: 2px solid #DBD6D0;
        margin-top: 24px;
    }
    /* company */
    #company th, #company td {
        display: block;
        width: 100%;
        text-align: left;
    }
    #company th {
        padding: 24px 0 0 0;
    }
    #company td {
        padding: 4px 0 0 0;
        font-size: 12px;
    }
    #company td ul li::before {
        content: "・";
    }

    /* contact */
    .contact-item {
        display: block;
    }
    .contact-item {
        display: block;
        padding-top: 32px;
    }
    .content-details {
        margin: 8px 0 0 0;
        width: 100%;
    }
    .contact-submit-button {
        width: 100%;
        margin: 32px 0;
    }
    .arrow-right::after {
        right: 15px;
    }
    .company-name {
        max-width: 300px;
    }
    /* footer */
    footer .inner {
        display: block;
    }
    .company-name {
        width: 300px;
    }
    .footer-item {
        padding: 32px 0 0 0;
    }
    .footer-item-heading {
        padding-bottom: 8px;
    }

    .footer-item:last-child {
        display: block;
        padding-bottom: 32px;
    }

    /* service-page */
    #corporate, #landing-page, #e-commerce, #consulting, #seo {
        padding-top: 64px;
    }

    #corporate h2, #landing-page h2, #e-commerce h2, #consulting h2, #seo h2 {
        padding-bottom: 0;
    }
    .service-desc {
        width: 100%;
        padding: 32px 0;
    }
    .service-list {
        display: block;
        padding: 0;
    }
    .service-list-heading {
        max-width: 224px;
        margin: 0 auto;
        gap: 24px;
    }
    .service-list-title h3 {
        font-size: 20px;
    }
    .service-list-title p, .price-contact p:first-child {
        font-size: 16px;
    }
    .contact-service-botton {
        width: 100%;
    }
    .service-list-box {
        padding-top: 40px;
    }
    .service-list-desc {
        padding-top: 8px;
        max-width: 272px;
        margin: 0 auto;
    }
    .two .service-list-title h3, .two .service-list-title p {
        text-align: center;
    }
    .price-contact p:last-child {
        font-size: 16px;
    }
    .contact-small-botton {
        width: 145px;
        height: 32px;
        right: 5%;
        top: 100%;
    }
    .contact-small-botton a {
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 2px;
    }
    .contact-small-botton a::before {
        transform: scale(.7);
        top: -13%;
        left: -40%;
    }
    #consulting h2 {
        line-height: 40px;
    }
    #corporate .service-desc, #consulting .service-desc, #seo .service-desc {
        padding: 16px 0 0 0;
    }


    


}

/* sp under320px*/
@media (max-width:320px){

}



